#mainDiv {
	text-align: center;
	 padding-top:100px;
}		

#mainDiv li{
	margin:15px 0px; /*регулировка отступа по высоте между элементам исписка*/
}
#mainDiv .tariff_places {
    /*margin: auto;  Выравниваем таблицу по центру окна  */
	margin: 0px 30% ;
}

#mainDiv .visit_parameters {
    /*margin: auto;  Выравниваем таблицу по центру окна  */
	margin: 0px 30% ;
}

#mainDiv .services {
    /*margin: auto;  Выравниваем таблицу по центру окна  */
	margin: 0px 30% ;
}   
   
   
#index {
	text-align: center;
}		

#index li{
	list-style-type: square;
	margin:5px 20%; /*регулировка отступа по высоте между элементам исписка*/
	text-align: left;
}