
*{
	margin:0;
	padding:0;
}
body{
	background:#fff;
	color:#666;	
	font:12px/18px Tahoma, Arial, Helvetica, sans-serif;	
}

li {
   list-style-type: none; /* Убираем маркеры */
}

#menu{
	width:100%;
	height:61px;
	background:url(../images/fm_menu_bg.jpg) repeat-x;
        margin: 0;
        padding: 0;
        list-style-type: none;
		position: fixed;	
}
	#menu ul{
		width:86%;
		margin:0 190px;
		list-style:none;
	}
		#menu li{
			list-style:none;
			display:block;
			float:left;
			font-size:11px;
			font-weight:bold;
			height:61px;
			line-height:61px;
			margin:0 2px;
			 text-align: center;
		}
			#menu li a{
				display:block;
				float:left;
				height:61px;
				width:170px;				
				color:#99a2b7;
				text-decoration:none;
				text-transform:uppercase;
				text-align: center;				
			}
				#menu li a:hover{	
					background:url(../images/fm_hover_bg.jpg) repeat-x;
					color:#fff;
					
				}
					#menu li a:hover span, #menu li .current span{
						background:url(../images/fm_hover_pointer.jpg) no-repeat top;
						height:61px;
						display:block;
					}
					#menu li .current{
						display:block;
						height:61px;
						width:190px;							
						background:url(../images/fm_hover_bg.jpg) repeat-x;
						color:#fff;
						text-decoration:none;
						text-transform:uppercase;
					}
					.accountInfo{
						    color:white;
						    bottom: 0;
							right: 60px;
							position: absolute;
					}				
					#menu li .accountLogIn{
						    bottom: 0;
							right: 0;
							position: absolute;
					}
					#menu li .accountLogOut{
						    bottom: 0;
							right: 0;
							width:50px;
							position: absolute;
							
							display:block;
							height:61px;							
							background:url(../images/error.png) no-repeat center;
							color:#fff;
							text-decoration:none;
							text-transform:uppercase;							
					}	
					#menu li .accountLogOut:hover {
						background:url(../images/errorActive.png) no-repeat center;
						height:61px;
						display:block;
					}	
					